bin
bin*/
ac-comphist.dat
elpa/
recentf
auto-save-list/
eshell/
init.el~
transient/
el-get/
ido.last
projects
org-persist/
.dap-breakpoints
.lsp-session-v1
.mc-lists.el
init.el.save
network-security.data
